<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Gold</title>
    <link rel="stylesheet" href="/css/gold.css">
 
</head>
<body>

    <div class="infinite-scrollbar">
        <!-- Todo -->
        <!-- ToDo Greeting border iphone -->
        <span id="Greeting">: ) Good Morning</span> 
        <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
        {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500 Index"
        },
        {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100 Cash CFD"
        },
        {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR to USD"
        },
        {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        },
        {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        }
        ],
        "showSymbolLogo": false,
        "isTransparent": true,
        "displayMode": "regular",
        "colorTheme": "dark",
        "locale": "en"
    }
        </script>
        </div>
        
    </div>

    <!-- header -->
    <header>
    <div class="product-switcher">
        <div class="header-inner-container">

            <div class="logo-combo">

                <div class="logo-outerBox">
                    <div class="logo-innerBox">
    
                        <a  id="logo-anchor" href="../"><img id="logo-main-img" src="/assets/logos/example-main-logo.png" /></a>
    
                    </div>
                </div>

                <div class="stockSearchWidget" aria-expanded="false" aria-haspopup="listbox">

                    <div class="combobox">
                        <div class="combobox-inner">

                            <lord-icon
                                src="https://cdn.lordicon.com/unukghxb.json"
                                trigger="hover"
                                stroke="bold"
                                colors="primary:#ffffff,secondary:#a866ee"
                                style="width:20px;height:20px">
                            </lord-icon>

                            <input type="search" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" placeholder="Search stocks, mutual funds, smallcases, ETFs etc." maxlength="80" id="search-stock-input" aria-label="search text" value="">

                        <span>/</span>

                        </div>


                    </div>

                    <div class="listbox">
                        
                    </div>


                </div>

            </div>

            <nav>
                <button class="header-btn">
                    <span>
                        <lord-icon
                            src="https://cdn.lordicon.com/yrbmguoo.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                            style="width:16px;height:16px">
                        </lord-icon>
                    </span>

                    <a href="/portfolio">Portfolio</a>
                </button>

                <button class="header-btn">
                    <span>
                        <img src="/assets/icons/gold-ingot.png"></img>
                    </span>

                    <span>Gold</span>
                </button>

                <button class="header-btn">
                    <span>
                        <img src="/assets/icons/business-report.png"></img>
                    </span>

                    <a href="/screener">Screener</a>
                </button>

                <!-- more-btn -->
                <button class="header-btn" id="more-btn">
                    <span>
                        <img src="./assets/icons/pie-chart.png"></img>
                    </span>
                    <span>More</span>
                    <span>
                        <img src="./assets/icons/drop-down.png"></img>
                    </span>
                    <!-- Dropdown content -->
                    <div class="dropdown-content">
                        <div class="sec1">
                            <p>Coming Soon</p>
                        </div>
                        <div class="sec2">

                            <div class="learn-m">
                                <a href="" class="group">
                                    <img src="/assets/icons/learn.svg">
                                </a>        
                                <span>Learn</span>

                            </div>

                            <div class="social-m">
                                <a href="" class="group">
                                    <img src="/assets/icons/social_v2.svg">
                                </a>
                                <span>Social</span>

                            </div>

                            <div class="blog-m">
                                <a href="" class="group">
                                    <img src="/assets/icons/blog.svg">
                                </a>
                                <span>Blog</span>

                            </div>

                            <div class="how-m">
                                <a href="" class="group">
                                    <img src="/assets/icons/how_to_v2.svg">
                                </a>
                                <span>How To's</span>
                            </div>
                        </div>
                        <div class="sec3"></div>
                    </div>
                </button>

                <a href="/login">
                    <button class="header-btn" id="login-btn">
                        <span>
                            <img src="/assets/icons/user.png"></img>
                        </span>

                        <span>Login</span>

                        <span>
                            <img src="/assets/icons/drop-down.png  "></img>
                        </span>
                    </button>
                </a>

            </nav>
        </div>
    </div>
    </header>

    <div class="gold-hero">
        <div class="top">
            Introducing <span>Digital Gold</span>
        </div>
        <div class="middle">
            <div class="gold-hero-mid-left">
                <h1>Tackle market volatility with Digital Gold</h1>
                <span><img src="/assets/image/star.webp"/>No DEMAT account required</span>
                <span><img src="/assets/image/star.webp"/>Track your gold portfolio in real-time</span>
                <span><img src="/assets/image/star.webp"/>Start a SIP and withdraw anytime</span>
            </div>
            <div class="gold-hero-right">
                <img src="/assets/image/gold-bg.webp" width="550vw"/>
            </div>
        </div>

        <div class="bottom">
            <button id="get-started">Get Started</button>

            <marquee width="60%" direction="left" height="100px">
                <ul>
                    <li>Safe & Secure</li>
                    <li>High Liquidity</li>
                    <li>Safe & Secure</li>
                    <li>99.50% Pure</li>

                </ul>
            </marquee>
        </div>
    </div>

    <div class="performance">
        <div class="left">
            
        </div> 
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-container-1">
                <a href=""><img src="/assets/logos/example-main-logo.png"/></a>
                <address>IIIT Sri City, Gnan Marg, Tada, Satyavedu, Chittoor, Andhra Pradesh - 517646</address>
                <a style="text-decoration: underline">Contact Us</a>

                <div class="icons">
                    <a><img src="/assets/logos/fb_icon_groww.30532469.svg"/></a>
                    <a><img src="/assets/logos/twitter_icon_groww.43dee78a.svg"/></a>
                    <a><img src="/assets/logos/instagram_icon_groww.f8c7d006.svg"/></a>
                    <a><img src="/assets/logos//linkedin_icon_groww.a0c17280.svg"/></a>
                    <a><img src="/assets/logos\/telegram_icon_groww.d144db3f.svg"/></a>
                </div>
            </div>
            <div class="footer-container-2">
                <h2>Products</h2>
                <a>Stocks</a>
                <a>Futures & Options</a>
                <a>IPO</a>
                <a>Mutual Funds</a>
                <a>Credit</a>
            </div>
            <div class="footer-container-3">
                <h2>Fiscal Fit</h2>
                <a>About Us</a>
                <a>Pricing</a>
                <a>Blog</a>
                <a>Media & Data</a>
                <a>Careers</a>
                <a>Support</a>
                <a>Trust and Safety</a>
            </div>
            <div class="footer-container-4">
                <h2>Quick Links</h2>
                <a>AMC Mutual Funds</a>
                <a>Calculators</a>
                <a>Glossary</a>
                <a>Fiscal Fit Digest</a>
                <a>Sitemap</a>
                <a>Income Tax Calculator</a>
            </div>
        </div>
        <div class="footer-container-bottom">
            <p>ⓒ&nbsp;2016-2024 FiscalFit. All rights reserved, Built with</p> <span class="HeartImg">♥</span><p>in India</p>
        </div>
    </footer>

    <script src="https://cdn.lordicon.com/lordicon.js"></script>
</body>
</html>