<!DOCTYPE html>
<html lang="en-US">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="medium" content="blog" />
	<meta name="generator" content="WordPress 6.4.3" />
	<link href="https://fonts.googleapis.com/css?family=Inter:400,600,700" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="/css/learningpage.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/learningpage.css" type="text/css" media="screen" />
	<link rel="icon" href="koiimage.png" type="images/x-icon" />
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	
	<title>Modules &#8211; Fiscalfit</title>
	<link rel="canonical" href="learningpage.html" />
	
	
<style id='wp-emoji-styles-inline-css' type='text/css'>

	img.wp-smiley, img.emoji {
		display: inline !important;
		border: none !important;
		box-shadow: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 0.07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
	}
</style>
<link rel='stylesheet' id='wp-block-library-css' href='' type='text/css' media='all' />
<style id='classic-theme-styles-inline-css' type='text/css'>

.wp-block-button__link{color:#fff;background-color:#32373c;border-radius:9999px;box-shadow:none;text-decoration:none;padding:calc(.667em + 2px) calc(1.333em + 2px);font-size:1.125em}.wp-block-file__button{background:#32373c;color:#fff;text-decoration:none}
</style>
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;--wp--preset--spacing--20: 0.44rem;--wp--preset--spacing--30: 0.67rem;--wp--preset--spacing--40: 1rem;--wp--preset--spacing--50: 1.5rem;--wp--preset--spacing--60: 2.25rem;--wp--preset--spacing--70: 3.38rem;--wp--preset--spacing--80: 5.06rem;--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);}:where(.is-layout-flex){gap: 0.5em;}:where(.is-layout-grid){gap: 0.5em;}body .is-layout-flow > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-flow > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-flow > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignleft{float: left;margin-inline-start: 0;margin-inline-end: 2em;}body .is-layout-constrained > .alignright{float: right;margin-inline-start: 2em;margin-inline-end: 0;}body .is-layout-constrained > .aligncenter{margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width: var(--wp--style--global--content-size);margin-left: auto !important;margin-right: auto !important;}body .is-layout-constrained > .alignwide{max-width: var(--wp--style--global--wide-size);}body .is-layout-flex{display: flex;}body .is-layout-flex{flex-wrap: wrap;align-items: center;}body .is-layout-flex > *{margin: 0;}body .is-layout-grid{display: grid;}body .is-layout-grid > *{margin: 0;}:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
.wp-block-navigation a:where(:not(.wp-element-button)){color: inherit;}
:where(.wp-block-post-template.is-layout-flex){gap: 1.25em;}:where(.wp-block-post-template.is-layout-grid){gap: 1.25em;}
:where(.wp-block-columns.is-layout-flex){gap: 2em;}:where(.wp-block-columns.is-layout-grid){gap: 2em;}
.wp-block-pullquote{font-size: 1.5em;line-height: 1.6;}
</style>
</head>
<body>
<header id="header">
	<div class="container">
		<div class="row">
			<div class="three columns">
				<a class="logo-full" href="">
					<img src="" alt="Fiscalfit" title="Fiscalfit" />
				</a>
				<a class="logo-small" href="">
					<img src="" alt="Fiscalfit" title="Fiscalfit" />
				</a>
			</div>
            <!-- logo //-->

			<nav class="nine columns nav inv">
				<a href="#" id="burger">☰</a>
				<div class="menu-menu-1-container"><ul id="main" class="menu"><li id="menu-item-15479" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15471 current_page_item menu-item-15479"><a href="index.html" aria-current="page">Modules</a></li>
<li id="menu-item-15480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15480"><a href="">Videos</a></li>
<li id="menu-item-15482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15482"><a href="">Certified</a></li>
<li id="menu-item-17473" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17473"><a href="">Junior</a></li>
<li id="menu-item-17428" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-17428"><a href="">Live</a></li>
</ul></div>			</nav>


		</div>
	</div>
</header>
<!-- header //-->

<div class="container">
	<div id="wrap">
		<div id="main">	<h1 class="large">Modules</h1>
<section class="modules">
	<ul class="noul row">
				<li class="module" style="border-top-color: #69c969">
			
			<h3 class="title">
									<span class="number">1</span>
								<a href="" class="inv">Introduction to Stock Markets</a>
			</h3>

			<span class="chapter-count">15 chapters</span>
			<div class="description">
				<span style="font-weight: 400">The stock market can play a pivotal role in ensuring your financial security. In this module, you will learn how to get started in the stock market, its fundamentals, how it functions, and the various intermediaries that appertain it.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">Watch videos</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #64B2FF">
			
			<h3 class="title">
									<span class="number">2</span>
								<a href="" class="inv">Technical Analysis</a>
			</h3>

			<span class="chapter-count">22 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Technical Analysis (TA) helps in developing a point of view. In this module, we will discover the complex attributes, various patterns, indicators, and theories of TA that will help you as a trader to find upright trading opportunities in the market.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">Watch videos</a>
											<a href="">हिंदी</a>
							</p>
                        </li>

                        <li class="module" style="border-top-color: #EACF32">
                    
                    <h3 class="title">
                                            <span class="number">3</span>
                                        <a href="" class="inv">Fundamental Analysis</a>
                    </h3>
        
                    <span class="chapter-count">16 chapters</span>
                    <div class="description">
                        <span style="font-weight: 400">The Fundamental Analysis (FA) module explores Equity research by reading financial statements and annual reports, calculating and analyzing Financial Ratios, and evaluating the intrinsic value of a stock to find long-term investing opportunities.</span>			</div>
                    <p class="module-opts">
                        <a href="">View module</a>
                                                    <a href="">Watch videos</a>
                                                    <a href="">हिंदी</a>
                                    </p>
                </li>

				<li class="module" style="border-top-color: #FFA9BA">
			
			<h3 class="title">
									<span class="number">4</span>
								<a href="" class="inv">Futures Trading</a>
			</h3>

			<span class="chapter-count">13 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Futures Trading is a segment of the derivatives market. This module covers the various intricacies involved in undergoing a futures trade, including margins, leverages, pricing, etc. It also discusses the use of derivatives for hedging purposes.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">Watch videos</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #FFB05A">
			
			<h3 class="title">
									<span class="number">5</span>
								<a href="" class="inv">Options Theory for Professional Trading</a>
			</h3>

			<span class="chapter-count">25 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Options Trading is a segment of the derivatives segment. Options contracts grant the buyer the right to buy/sell the underlying without a compulsory obligation. This module discusses options contracts, pricing, and their profit and loss payoffs.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">Watch videos</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #B5B2EA">
			
			<h3 class="title">
									<span class="number">6</span>
								<a href="" class="inv">Option Strategies</a>
			</h3>

			<span class="chapter-count">14 chapters</span>
			<div class="description">
				<span style="font-weight: 400">A trader can use options strategies to monetize their views on volatility, sentiment, and timing. This module explores various options strategies that can be built with a multi-dimensional approach involving Option Greeks, Risk-Return, etc.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #78DDB9">
			
			<h3 class="title">
									<span class="number">7</span>
								<a href="" class="inv">Markets and Taxation</a>
			</h3>

			<span class="chapter-count">8 chapters</span>
			<div class="description">
				<span style="font-weight: 400">As a trader in India, you should be informed of the taxes applicable to your investments and trades. This module outlines essential topics like calculating your turnover, preparing balance sheet and P&amp;L statements, and filing your Income Tax Returns.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #D1C36F">
			
			<h3 class="title">
									<span class="number">8</span>
								<a href="" class="inv">Currency, Commodity, and Government Securities</a>
			</h3>

			<span class="chapter-count">19 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Interest rates, forex rates, and inflation impact each other and commodity prices. Commodity prices impact each other, too. This module discusses trading in currency and commodity derivatives and Government Securities (GSec) in the Indian markets.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #4EDFEA">
			
			<h3 class="title">
									<span class="number">9</span>
								<a href="" class="inv">Risk Management and Trading Psychology</a>
			</h3>

			<span class="chapter-count">16 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Trading and investing are subject to risks. Our emotions also influence our choices in the market and could aggravate risks. This module discusses risk and risk management tools along with the psychology required for sustaining in the markets.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #FF8773">
			
			<h3 class="title">
									<span class="number">10</span>
								<a href="" class="inv">Trading Systems</a>
			</h3>

			<span class="chapter-count">16 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Have you considered building your own Trading System? Well, then, this module is for you. In this module, we will learn about the components of building a good trading system and more, including the techniques and different types of Trading Systems.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #48CBFF">
			
			<h3 class="title">
									<span class="number">11</span>
								<a href="" class="inv">Personal Finance - Mutual Funds</a>
			</h3>

			<span class="chapter-count">32 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Managing personal finances can help you achieve your short-term and long-term financial goals. This module encompasses the various aspects of personal finance, such as retirement planning, mutual funds, ETFs, bonds, and goal-oriented investments.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
											<a href="">हिंदी</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #ecc3a7">
			
			<h3 class="title">
									<span class="number">12</span>
								<a href="" class="inv">Innerworth - Mind over markets</a>
			</h3>

			<span class="chapter-count">603 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Originally a collection of newsletters on trading psychology published between 2002 and 2007 by Marketwise, a US stock broking firm, "Innerworth - Mind over Markets" will guide you and prepare you psychologically to become a rational trader.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #99b4ff">
			
			<h3 class="title">
									<span class="number">13</span>
								<a href="" class="inv">Integrated Financial Modelling</a>
			</h3>

			<span class="chapter-count">18 chapters</span>
			<div class="description">
				<span style="font-weight: 400">An integrated financial model of a company breaks down the financials of a company to give you granular insights. A financial model includes assets, reserves, debt schedules, cashflows, and valuation models. Learn all that and more in this module.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #B8D89E">
			
			<h3 class="title">
									<span class="number">14</span>
								<a href="" class="inv">Personal Finance - Insurance</a>
			</h3>

			<span class="chapter-count">9 chapters</span>
			<div class="description">
				<span style="font-weight: 400">If you have been working on your financial plan and continuously saving and investing, it is crucial to be prepared to tackle any unforeseen eventualities. The short chapters in this module elucidate the importance of insurance in one's life.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #E8BB55">
			
			<h3 class="title">
									<span class="number">15</span>
								<a href="" class="inv">Sector Analysis</a>
			</h3>

			<span class="chapter-count">13 chapters</span>
			<div class="description">
				<span style="font-weight: 400">Sector analysis is an extension of fundamental analysis. Each sector exhibits unique features and reacts differently to the same market forces. This module helps you understand what to look for in each sector as a stock picker or an equity investor.</span>			</div>
			<p class="module-opts">
				<a href="">View module</a>
							</p>
		</li>

				<li class="module" style="border-top-color: #8cbf71">
			
			<h3 class="title">
									<span class="number">16</span>
								<a href="" class="inv">Social Stock Exchanges (SSEs)</a>
			</h3>

			<span class="chapter-count">4 chapters</span>
			<div class="description">
				Social Stock Exchange is a new segment on stock exchanges meant to enable investors to donate/invest in social enterprises. SSEs will act as a bridge between the less-informed but willing donors and legitimate organizations doing real social work.			</div>
			<p class="module-opts">
				<a href="">View module</a>
							</p>
		</li>

					</ul>
</section>
			<div class="clear"> </div>
			
		</div>
        <!-- main //-->
	</div>
    <!-- wrap //-->

	<footer id="footer">
		<div class="row">
			<div class="six columns">
				<p class="text-small">
					Fiscalfit &copy; 
					All rights reserved.				 
				</p>
			</div>
			<div class="six columns">
				<div class="buttons">
					<a href="">
						<img src="" alt="Download on Play store">
					</a>
					<a href="">
						<img src="" alt="Download on App store">
					</a>
				</div>
			</div>
		</div>
		
			</footer>
</div>
<!-- container //-->

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
  var _paq = window._paq = window._paq || [];

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="http://m.zerodha.com/";
    _paq.push(['setTrackerUrl', u+'js/']);
    _paq.push(['setSiteId', '5']);
    _paq.push(['setAPIUrl', u]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
  })();

  (() => {
  	document.querySelector("#burger").onclick = (e) => {
  		e.preventDefault();
  		const el = document.querySelector("#header .menu");
  		el.style.display = el.style.display == "block" ? "none" : "block";
  	};
  })();
</script>

</body>


</html>

