<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track and analyse your investments | Portfolio analysis</title>
    <link rel="stylesheet" href="/css/portfolio.css">
    <link rel="stylesheet" href="/css/portfolio-slider.css">
    <link rel="stylesheet" href="/css/buttons/awesome-text.css">
</head>
<body>
    <div class="hero">

        <div class="infinite-scrollbar">
            <!-- Todo -->
            <!-- ToDo Greeting border iphone -->
            <span id="Greeting">: ) Good Morning</span> 
        </div>

        <!-- header -->
        <header>
        <div class="product-switcher">
            <div class="header-inner-container">

                <div class="logo-combo">

                    <div class="logo-outerBox">
                        <div class="logo-innerBox">    
                            <a  id="logo-anchor" href="../"><img id="logo-main-img" src="/assets/logos/example-main-logo.png" /></a>
                        </div>
                    </div>

                    <div class="stockSearchWidget" aria-expanded="false" aria-haspopup="listbox">

                        <div class="combobox">
                            <div class="combobox-inner">

                                <lord-icon
                                    src="https://cdn.lordicon.com/unukghxb.json"
                                    trigger="hover"
                                    stroke="bold"
                                    colors="primary:#ffffff,secondary:#a866ee"
                                    style="width:20px;height:20px">
                                </lord-icon>

                                <input type="search" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" placeholder="Search stocks, mutual funds, smallcases, ETFs etc." maxlength="80" id="search-stock-input" aria-label="search text" value="">

                            <span>/</span>

                            </div>


                        </div>

                        <div class="listbox">
                            
                        </div>


                    </div>

                </div>

                <nav>
                    <button class="header-btn">
                        <span>
                            <lord-icon
                                src="https://cdn.lordicon.com/yrbmguoo.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:16px;height:16px">
                            </lord-icon>
                        </span>

                        <span>Portfolio</span>
                    </button>

                    <button class="header-btn">
                        <span>
                            <img src="/assets/icons/gold-ingot.png"></img>
                        </span>

                        <a href="/gold"> Gold</a>
                    </button>

                    <button class="header-btn">
                        <span>
                            <img src="/assets/icons/business-report.png"></img>
                        </span>

                        <a href="/screener">Screener</a>
                    </button>

                    <button class="header-btn">
                        <span>
                            <img src="/assets/icons/pie-chart.png"></img>
                        </span>

                        <span>More</span>
                    </button>

                    <button class="header-btn" id="login-btn">
                        <span>
                            <img src="/assets/icons/user.png"></img>
                        </span>

                        <span>Login</span>

                        <span>
                            <img src="/assets/icons/drop-down.png  "></img>
                        </span>
                    </button>

                </nav>
            </div>
        </div>
        </header>

        <div class="carousel">
            <!-- list item -->
            <div class="list">
                <div class="item">
                    <img src="/assets/image/img1.jpg">
                    <div class="content">
                        <div class="author">FISCAL FIT</div>
                        <div class="title">WHAT TO EXPECT?</div>
                        <div class="topic">A 360° view of your investments</div>
                        <div class="des">
                            <!-- lorem 50 -->
                            Gain comprehensive insights into your financial portfolio with a 360° view of your investments. Monitor diverse assets, track performance, and make informed decisions for optimal growth. Access real-time data and analysis to navigate the dynamic landscape of financial markets, ensuring a well-rounded perspective on your investment strategy.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>GET STARTED</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/img2.jpg">
                    <div class="content">
                        <div class="author">FISCAL FIT</div>
                        <div class="title">WHAT TO EXPECT?</div>
                        <div class="topic">Compare diversification with community</div>
                        <div class="des">
                            
                            Diversification involves spreading investments to manage risk, while community refers to a group sharing common interests or characteristics. In finance, diversification minimizes risk by investing in various assets. In a societal context, community fosters social bonds among individuals with shared values. Both concepts aim to enhance stability, whether in financial portfolios or social connections.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/img3.jpg">
                    <div class="content">
                        <div class="author">FISCAL FIT</div>
                        <div class="title">Predict the yearly growth of your money</div>
                        <div class="topic">WHAT TO EXPECT?</div>
                        <div class="des">
                            The yearly growth of your money depends on various factors, including investment choices, market conditions, and economic trends. Diversifying investments, staying informed, and adapting to changing financial landscapes can contribute to potential growth. However, predicting specific growth rates is challenging due to the dynamic nature of financial markets. Consult with a financial advisor for personalized guidance based on your goals and risk tolerance.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/img4.jpg">
                    <div class="content">
                        <div class="author">FISCAL FIT</div>
                        <div class="title">Analyse PE, volatility, and more</div>
                        <div class="topic">WHAT TO EXPECT?</div>
                        <div class="des">
                            Price-to-Earnings (PE) ratio gauges a stock's valuation relative to its earnings, helping assess if it's overvalued or undervalued. Volatility measures the degree of price fluctuations, indicating risk; higher volatility implies greater price swings. Consider other metrics like earnings growth, debt levels, and market trends for a comprehensive analysis. Always tailor your approach to the specific characteristics of the asset and broader market conditions.
                        </div>
                        <div class="buttons">
                            <button>SEE MORE</button>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list thumnail -->
            <div class="thumbnail">
                <div class="item">
                    <img src="/assets/image/slide-1-dweb.png">
                    <div class="content">
                        <div class="title">
                            Name Slider
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/slide-2-dweb.png">
                    <div class="content">
                        <div class="title">
                            Name Slider
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/slide-3-dweb.png">
                    <div class="content">
                        <div class="title">
                            Name Slider
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/assets/image/slide-4-dweb.png">
                    <div class="content">
                        <div class="title">
                            Name Slider
                        </div>
                        <div class="description">
                            Description
                        </div>
                    </div>
                </div>
            </div>
            <!-- next prev -->
    
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            <!-- time running -->
            <div class="time"></div>
        </div>



        <footer>
            <div id="container">
                <h1 class="GradientBorder"></h1>
              </div>
            
        </footer>


        <script src="/js/slider.js"></script>
</body>
</html>