<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | FiscalFit</title>

    <meta name="description" content="A website for portfolio analysis, market overview and learning by IIITS students." />
    <!-- <meta name="keywords" content="" /> -->
    <!-- <meta name="author" content="" /> -->
    <!-- <meta name="robots" content="index, follow" />
    <meta name="language" content="english">
    <meta name="revised" content="Sunday, January 28th, 2010, 1:15 pm" /> 
    <meta name="copyright" content="AJ 2024">
    <meta name="HandheldFriendly" content="false"/> 
    <meta property="og:image" content="./imagesLarge/website.png"/> -->
    
    <link rel="accesible icon" href="./assets/icons/the-trees-svgrepo-com.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../public/css/profile.css">        
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="application/javascript" src="js/tickrtape.js"></script>
</head>
<body>
    <div class="top"></div>
    <div class="between"></div>
</body>
</html>