<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Description of your website">
    <meta name="keywords" content="keywords, for, your, website">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="icon" href="./assets/icons/the-trees-svgrepo-com.svg" type="image/svg+xml">
    <script src="https://kit.fontawesome.com/97ebdf5864.js" crossorigin="anonymous"></script>
</head>
<body>
     
    <div class="container">
        <h2>Register</h2>

        <form method="post" action="../api/auth/signup" id="signupForm">
            <div class="form-group">
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" required>
                <label for="email">Email</label>
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
                <i class="fa-solid fa-lock"></i>
            </div>

            <div class="form-group">
                <input type="text" id="role" name="role" required>
                <label for="role">Role</label>
                <i class="fa-solid fa-comment"></i>
            </div>

            <p>
                <input type="checkbox" id="remember">Remember Me 
            </p>

            <input id="btn" type="submit" value="Register">

            <p>Already Have an account? <a href="/login">Login</a></p>

        </form>
    </div>
    <script>
        const signupForm = document.querySelector('#signupForm');
        signupForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(signupForm);
            const formBody = {
                "username": formData.get("username"),
                "email": formData.get("email"),
                "password": formData.get("password"),
                "role": formData.get("role")
            };
            try {
                const response = await fetch("../api/auth/signup", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formBody)
                });
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    const error = await response.json();
                    console.error(error.message);
                    alert(error.message);
                }
            } catch (err) {
                console.error(err);
            }
        });
    </script>
</body>
</html>