<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screener | Fiscal Fit</title>
    <link rel="stylesheet" href="/css/screener.css">
    <link rel="accesible icon" href="./assets/icons/the-trees-svgrepo-com.svg" type="image/svg+xml">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script type="application/javascript" src="js/screner.js"></script>
</head>
<body>

    <!-- TICKER -->
    <div class="infinite-scrollbar">
        <!-- ToDo Greeting border iphone -->
        <span id="Greeting">: ) Good Morning</span> 
        <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
            {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500 Index"
            },
            {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100 Cash CFD"
            },
            {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR to USD"
            },
            {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
            },
            {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
            }
            ],
            "showSymbolLogo": false,
            "isTransparent": false,
            "displayMode": "regular",
            "colorTheme": "dark",
            "locale": "en"
        }
        </script>
        </div>
        
    </div>


    <header>
        <div class="product-switcher">
            <div class="header-inner-container">
    
                <div class="logo-combo">
    
                    <div class="logo-outerBox">
                        <div class="logo-innerBox">
        
                            <a  id="logo-anchor" href="../"><img id="logo-main-img" src="/assets/logos/example-main-logo.png" /></a>
        
                        </div>
                    </div>
    
                    <div class="stockSearchWidget" aria-expanded="false" aria-haspopup="listbox">
    
                        <div class="combobox">
                            <div class="combobox-inner">
    
                                <lord-icon
                                    src="https://cdn.lordicon.com/unukghxb.json"
                                    trigger="hover"
                                    stroke="bold"
                                    colors="primary:#ffffff,secondary:#a866ee"
                                    style="width:20px;height:20px">
                                </lord-icon>
    
                                <input type="search" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" placeholder="Search stocks, mutual funds, smallcases, ETFs etc." maxlength="80" id="search-stock-input" aria-label="search text" value="">
    
                            <span>/</span>
    
                            </div>
    
    
                        </div>
    
                        <div class="listbox">
                            
                        </div>    
                    </div>
    
                </div>
    
                <nav>
                    <button class="header-btn">
                        <span>
                            <lord-icon
                                src="https://cdn.lordicon.com/yrbmguoo.json"
                                trigger="hover"
                                colors="primary:#ffffff"
                                style="width:16px; height:16px">
                            </lord-icon>
                        </span>
    
                        <a href="/portfolio">Portfolio</a>
                    </button>
    
                    <button class="header-btn">
                        <span>
                            <img src="/assets/icons/gold-ingot.png"></img>
                        </span>
    
                        <a href="/gold"> Gold</a>
                    </button>
    
                    <button class="header-btn">
                        <span>
                            <img src="/assets/icons/business-report.png"></img>
                        </span>
    
                        <a href="/screener">Screener</a>
                    </button>
    
                    <!-- more-btn -->
                    <button class="header-btn" id="more-btn">
                        <span>
                            <img src="./assets/icons/pie-chart.png"></img>
                        </span>
                        <span>More</span>
                        <span>
                            <img src="./assets/icons/drop-down.png"></img>
                        </span>
                        <!-- Dropdown content -->
                        <div class="dropdown-content">
                            <div class="sec1">
                                <p>Coming Soon</p>
                            </div>
                            <div class="sec2">

                                <div class="learn-m">
                                    <a href="" class="group">
                                        <img src="/assets/icons/learn.svg">
                                    </a>        
                                    <span>Learn</span>

                                </div>

                                <div class="social-m">
                                    <a href="../discuss/home" class="group">
                                        <img src="/assets/icons/social_v2.svg">
                                    </a>
                                    <span>Social</span>

                                </div>

                                <div class="blog-m">
                                    <a href="" class="group">
                                        <img src="/assets/icons/blog.svg">
                                    </a>
                                    <span>Blog</span>

                                </div>

                                <div class="how-m">
                                    <a href="" class="group">
                                        <img src="/assets/icons/how_to_v2.svg">
                                    </a>
                                    <span>How To's</span>
                                </div>
                            </div>
                            <div class="sec3"></div>
                        </div>
                    </button>
    
                    <%if(jwt == null){%>
                        <a href="/login">
                            <button class="header-btn" id="login-btn">
                            <span>
                                <img src="./assets/icons/user.png"></img>
                            </span>
        
                                <span>Login</span>
        
                                <span>
                                    <img src="./assets/icons/drop-down.png  "></img>
                                </span>
                            </button>
                        </a>
                    <%}else{%>
                        <a href="/">
                            <button class="header-btn logout-btn" id="login-btn">
                            <span>
                                <img src="./assets/icons/user.png"></img>
                            </span>
        
                                <span>Logout</span>
        
                                <span>
                                    <img src="./assets/icons/drop-down.png  "></img>
                                </span>
                            </button>
                        </a>
                        <a href="/profile">
                            <button class="header-btn logout-btn" id="login-btn">
                            <span>
                                <img src="./assets/icons/user.png"></img>
                            </span>
        
                                <span>Profile</span>
        
                                <span>
                                    <img src="./assets/icons/drop-down.png  "></img>
                                </span>
                            </button>
                        </a>
                    <%}%>
    
                </nav>
            </div>
        </div>
    </header>


    <div class="page1">
        <div class="top">
            <div class="img">
                <img src="/assets/image/screener-pg.jpg">
            </div>
            <div class="head">
                <h1 class="scrollreveal">Market Screener for your daily needs</h1>
            </div>
            <div class="info">
                <p class="scrollreveal">Utilize our market screener to gain deeper insights into the market landscape, empowering you with the knowledge needed to make informed decisions and enhance your understanding of market dynamics.</p>
            </div>
            <div class="start">
                <p class="scrollreveal">Scroll to start customizing</p> <span>&#x2193;</span>
            </div>
        </div>
    </div>

    <section class="page2">
        <h1 class="scrollreveal">Screener</h1>
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <table class="screener">
                <!-- Data will be implemented from the below code -->
            </table>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
            {
            "width": 650%,
            "height": 300%,
            "defaultColumn": "overview",
            "defaultScreen": "most_volatile",
            "market": "india",
            "showToolbar": true,
            "colorTheme": "dark",
            "locale": "en",
          }
            </script>
    </section>

    <footer>
        <!-- TODO -->
        © Fiscal Fit
    </footer>

    <script>
        ScrollReveal().reveal('.scrollreveal');
    </script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

</body>
</html>